.rightContent {
    float: right;
    width: 85%;
    height: 100%;
    background-color: #F9F8F8;
}

.rightContent>.select {
    font-size: 14px;
    height: 500px;
    width: 96%;
    background-color: #fff;
    margin: 20px;
    border: 1px solid #E5E4E4;
    border-radius: 10px;
}

.rightContent .select div {
    margin-left: 30px;
    margin-bottom: -20px;
    font-weight: 700;
}

.rightContent>.select>.title {
    margin: 20px;
    font-size: 16px;
}

.rightContent>.select>.book>li {
    float: left;

}

.rightContent>.select>.book>li>a {
    color: black;
    font-size: 12px;
}

.rightContent>.select>.book>li>a>i {
    margin-left: 20px;
    font-size: 25px;
}

.active {
    background-color: #38A28A;
}

.select input {
    width: 300px;
    height: 40px;
    margin: 10px;
    border: 1px solid #D9DADA;
    border-radius: 7px;
    line-height: 30px
}

.select>.time>input {
    width: 110px
}

.select>.time>.text4 {
    margin-left: 68px;
}

.select .button {
    margin-top: 30px;

}

.select .confirm {
    width: 100px;
    height: 40px;
    margin-left: -31px;
    margin-top: 30px;
    border: 1px solid #D9DADA;
    border-radius: 7px;
    line-height: 30px;
    background-color: #1890FF;
}

.select .cancel {
    width: 50px;
    height: 40px;
    margin-left: 30px;
    border: 1px solid #D9DADA;
    border-radius: 7px;
    line-height: 30px
}

.select .detail {
    height: 70px;
}

.select select {
    width: 300px;
    height: 40px;
    margin: 10px;
    border: 1px solid #D9DADA;
    border-radius: 7px;
}

.head_picture>.rlf-group>div {
    display: inline-block;
    border: 5px;
    margin: auto;
}

.con4 {
    width: 300px;
    height: auto;
    overflow: hidden;
    margin: 20px auto;
    color: #FFFFFF;
}

.con4 .btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #d8b49c;
    display: block;
    font-size: 16px;
    border-radius: 5px;
}

.upload {
    float: left;
    position: relative;
}

.upload_pic {
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 5px;
}

#cvs {
    border: 1px solid #000;
    margin: 20px 0 20px 50px;
}