<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tkzj.nobookkeeping.mapper.UserMapper">
    
    <select id="queryByNameAndPassword" resultType="com.tkzj.nobookkeeping.entity.User">
        select *
        from `user`
        where  `user_name` = #{user.userName} and  `user_password` = #{user.userPassword}
    </select>

</mapper>